# .env.template for feature_metadata upload script

# The ARN of the role to assume for uploading metadata to DynamoDB
ROLE_ARN=arn:aws:iam::<YOUR_AWS_ACCOUNT_ID>:role/<YOUR_ROLE_NAME>

# The name of the role session
SESSION_NAME=your_role_session_name

# The AWS region where your DynamoDB table is hosted
REGION=<YOUR_AWS_REGION>

# The name of your DynamoDB table for storing opportunity metadata
TABLE_NAME=<YourDynamoDBTableName>

# Path to the CSV file containing feature metadata
FEATURE_METADATA_PATH=feature_metadata.csv

# The path to the CSV file containing the products
PRODUCTS_CSV_PATH=products_sample.csv

# The path to the CSV file containing the opportunities
OPPORTUNITY_CSV_PATH=opportunity_finder_sample.csv

# The path to the CSV file containing the query output
QUERY_OUTPUT_PATH=data/query_output.csv

# Path to the CSV file containing the merged data
MERGED_CSV_PATH=data/merged.csv

# Set RUN_MIGRATIONS to true to run the script
RUN_MIGRATIONS=true

# Set the log level for the script
LOG_LEVEL=TRACE

# The name of the opp id to query in the sample query
OPPORTUNITY_ID=some_opportunity_id