# Set the log level for the script
LOG_LEVEL=TRACE

# Set the random seed for reproducibility
RANDOM_SEED=42

# Run configurations
RUN_MIGRATIONS=false
RUN_PIPELINE=false

# Paths to the CSV files
PREPROCESSED_DATA_PATH=data/preprocessed_data.csv
PRODUCTS_CSV_PATH=data/products.csv
OPPORTUNITY_CSV_PATH=data/opportunities.csv

# AWS Environment Variables
ROLE_ARN=
REGION=us-east-1
SESSION_NAME=ecomm_oracle_metadata_uploader
TABLE_NAME=jungle_scout_data

# API Keys
WANDB_API_KEY=
