# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python virtual environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm (if you use it)
.idea/

# VS Code (if you use it)
.vscode/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/

# Django stuff (if you use Django)
*.log

# Weights & Biases logging
wandb/

# Exclude environment variables and secrets
.env
